  <% content_for :stylesheets do %>
    <link rel="stylesheet" href="/css/flatpickr.min.css" />
    <link rel="stylesheet" href="/css/dashboard/dashboard.css" />
  <% end %>


<a href="#" data-toggle="modal" data-target="#profileModal"><button id="editProfile" class="btn">Edit Profile</button></a>
<a href="#" data-toggle="modal" data-target="#eventModal"><button id="createEvent" class="btn">Create Event</button></a>
<div class="modal fade" id="profileModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit Profile</h4>
      </div>
      <br />
      <div class="modal-body">
        <form method="post" action="#" id="current_profile" data-id="<%= @user.id %>" enctype="multipart/form-data">
          <div class="form-group">
            <label for="first_name_profile">First Name</label>
            <input type="text" class="form-control" value="<%= @user.first_name %>" id="first_name_profile" name="first_name_profile" required />
          </div>
          <div class="form-group">
            <label for="last_name_profile">Last Name</label>
            <input type="text" class="form-control" value="<%= @user.last_name %>" id="last_name_profile" name="last_name_profile" required />
          </div>
          <div class="form-group">
            <label for="email_profile">Email</label>
            <input type="text" class="form-control" value="<%= @user.email %>" id="email_profile" name="email_profile" required />
          </div>
          <div class="form-group">
            <label for="date_of_birth_profile">Date of Birth <span class="text-muted">(DD-MM-YYYY)</span></label>
            <input type="text" class="form-control" value="<%= @user.date_of_birth %>" id="date_of_birth_profile" name="date_of_birth_profile" required />
          </div>
          <div class="form-group">
            <label for="phone_profile">Phone Number <span class="text-muted">(XXX-XXX-XXXX)</span></label>
            <input type="text" class="form-control" value="<%= @user&.phone %>" id="phone_profile" name="phone_profile" required />
          </div>
          <div class="form-group">
            <label for="street_profile">Address</label>
            <input type="text" class="form-control" id="street_profile" value="<%= @user&.address&.street %>" name="street_profile" required />
          </div>
          <div class="form-group">
            <label for="city_profile">City</label>
            <input type="text" class="form-control" value="<%= @user&.address&.city %>" id="city_profile" name="city_profile" required />
          </div>
          <div class="form-group">
            <label for="state_profile" >State</label>
            <select id="state_profile" name="state_profile" selected="<%= @user&.address&.state %>" value="<%= @user&.address&.state %>" class="form-control">
              <option disabled selected value> -- select a state -- </option>
              <option value="Alabama">Alabama</option>
              <option value="Alaska">Alaska</option>
              <option value="Arizona">Arizona</option>
              <option value="Arkansas">Arkansas</option>
              <option value="California">California</option>
              <option value="Colorado">Colorado</option>
              <option value="Connecticut">Connecticut</option>
              <option value="Delaware">Delaware</option>
              <option value="District Of Columbia">District Of Columbia</option>
              <option value="Florida">Florida</option>
              <option value="Georgia">Georgia</option>
              <option value="Hawaii">Hawaii</option>
              <option value="Idaho">Idaho</option>
              <option value="Illinois">Illinois</option>
              <option value="Indiana">Indiana</option>
              <option value="Iowa">Iowa</option>
              <option value="Kansas">Kansas</option>
              <option value="Kentucky">Kentucky</option>
              <option value="Louisiana">Louisiana</option>
              <option value="Maine">Maine</option>
              <option value="Maryland">Maryland</option>
              <option value="Massachusetts">Massachusetts</option>
              <option value="Michigan">Michigan</option>
              <option value="Minnesota">Minnesota</option>
              <option value="Mississippi">Mississippi</option>
              <option value="Missouri">Missouri</option>
              <option value="Montana">Montana</option>
              <option value="Nebraska">Nebraska</option>
              <option value="Nevada">Nevada</option>
              <option value="New Hampshire">New Hampshire</option>
              <option value="New Jersey">New Jersey</option>
              <option value="New Mexico">New Mexico</option>
              <option value="New York">New York</option>
              <option value="North Carolina">North Carolina</option>
              <option value="North Dakota">North Dakota</option>
              <option value="Ohio">Ohio</option>
              <option value="Oklahoma">Oklahoma</option>
              <option value="Oregon">Oregon</option>
              <option value="Pennsylvania">Pennsylvania</option>
              <option value="Rhode Island">Rhode Island</option>
              <option value="South Carolina">South Carolina</option>
              <option value="South Dakota">South Dakota</option>
              <option value="Tennessee">Tennessee</option>
              <option value="Texas">Texas</option>
              <option value="Utah">Utah</option>
              <option value="Vermont">Vermont</option>
              <option value="Virginia">Virginia</option>
              <option value="Washington">Washington</option>
              <option value="West Virginia">West Virginia</option>
              <option value="Wisconsin">Wisconsin</option>
              <option value="Wyoming">Wyoming</option>
            </select>
          </div>
          <div class="form-group">
            <label for="zip_profile">Zip Code</label>
            <input type="text" class="form-control" value="<%= @user&.address&.zip %>" id="zip_profile" name="zip_profile" required />
          </div>
          <br />
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_submit_profile" class="btn btn-default">
          <span>Submit</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="eventModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Event</h4>
      </div>
      <br />
      <div class="modal-body">
        <form method="post" action="#" enctype="multipart/form-data">
          <div class="form-group">
            <label for="event_title">Event Title</label>
            <input type="text" class="form-control" id="event_title" name="event_title" required />
          </div>
          <div class="form-group">
            <label for="event__date">Event Date</label>
            <input type="text" class="form-control flatpickr" id="event_date" name="event__date" data-date-format="d-m-Y" />
          </div>
          <div class="form-group">
            <label for="event_time">Event Time</label>
            <input type="text" data-enable-time="true" data-no-calendar="true" value="09:00" class="form-control flatpickr" id="event_time" name="event_time" required />
          </div>
          <div class="form-group">
            <label for="event_number_guests">Number of Guests</label>
            <input type="text" class="form-control" id="event_number_guests" name="event_number_guests" required />
          </div>
          <div class="form-group">
            <label for="event_unlimited">No Guest Limit</label>
            <input type="checkbox" id="event_unlimited" name="event_unlimited" />
          </div>
          <div class="form-group">
            <label for="event_children">Children Welcome</label>
            <input type="checkbox" id="event_children" name="event_children" />
          </div>
          <div class="form-group">
            <label for="event_alcohol">Alcohol Welcome</label>
            <input type="checkbox" id="event_alcohol" name="event_alcohol"/>
          </div>
          <div class="form-group">
            <label for="event_food">Food/Drink</label>
            <input type="text" id="event_food" name="event_food" class="form-control text_input" />
          </div>
          <div class="form-group">
            <label for="event_description">Description of Event</label>
            <input type="text" id="event_description" name="event_description" class="form-control text_input" />
          </div>
          <br />
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_event_submit" class="btn btn-default">
          <span>Submit</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

  <% content_for :scripts do %>
    <script src="/js/flatpickr.min.js"></script>
    <script src="/js/dashboard/dashboard.js"></script>
    <script type="text/javascript">
        $("#event_date").flatpickr();
        $("#event_time").flatpickr();
    </script>
  <% end %>
