<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/user/user.css" />
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-4 user_info">
      <div class="visible-xs hidden-sm hidden-md hidden-lg">
        <div class="profileNameBox">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <h3 class="aboutYou">About <%= @user.first_name %>:</h3>
          <div class="aboutMeDescriptionBox">
            <h5><%= @user.description %></h5>
          </div>
        </div>
      </div>
      <div class="center-block profileImageBox" id="userID" data-id="<%= @user.id %>">
        <img class="user_image center-block img-responsive" src="<%= attachment_url(@user.images[0], :file, :fill, 400, 400, fallback: "/assets/no_pic.png") %>" />
        <div class="center-block eventsInfoBox">
          <span><%= @user.hosted_events.count %><span class="eventsSpan">events hosted</span> </span>
          <span><%= @user.events.count %><span class="eventsSpan">events attended</span> </span>
        </div>
        <div class="buttonsBox">
          <a href="#" data-toggle="modal" data-target="#messageUserModal"><button class="center-block btn">Message</button></a>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-8">
      <div class="hidden-xs visible-sm visible-md visible-lg">
        <div class="profileNameBox">
          <h1><%= @user.first_name %> <%= @user.last_name %></h1>
          <h3 class="aboutYou">About <%= @user.first_name %>:</h3>
          <div class="aboutMeDescriptionBox">
            <h5><%= @user.description %></h5>
          </div>
        </div>
      </div>
      <div class="scroll_box">
      </div>
    </div>
  </div>
</div>

  <div class="modal fade" id="messageUserModal" tabIndex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="myModalLabel">Message Jake</h4>
        </div>
        <div class="modal-body">
        <label for="body"></label>
        <textarea type="text" class="form-control" id="message" name="body"></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-black" id="sendMessage">Send Message</button>
        </div>
      </div>
    </div>
  </div>

<% content_for :scripts do %>
  <script src="/js/user/user.js"></script>
<% end %>
