<% content_for :stylesheets do %>
  <link rel="stylesheet" href="/css/flatpickr.min.css" />
  <link rel="stylesheet" href="/css/events/show.css" />
<% end %>

<% if @event.host_id == current_user&.id %>
  <a href="#" data-toggle="modal" data-target="#eventModal"><button class="btn">Edit Event</button></a>
  <% else %>
  <a href="#" data-toggle="modal" data-target="#joinEventModal"><button class="btn">Join Event</button></a>
<% end %>


<div class="modal fade" id="eventModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Event</h4>
      </div>
      <br />
      <div class="modal-body">
        <form method="post" action="#" enctype="multipart/form-data" id="current_event" data-id="<%= @event.id %>">
          <div class="form-group">
            <label for="event_title">Event Title</label>
            <input type="text" class="form-control" id="event_title" value="<%= @event.title %>" name="event_title" required />
          </div>
          <div class="form-group">
            <label for="event__date">Event Date</label>
            <input type="text" class="form-control flatpickr" id="event_date" value="<%= @event.date %>" name="event__date" data-date-format="d-m-Y" />
          </div>
          <div class="form-group">
            <label for="event_time">Event Time</label>
            <input type="text" data-enable-time="true" data-no-calendar="true" value="<%= @event.time %>" class="form-control flatpickr" id="event_time" name="event_time" required />
          </div>
          <div class="form-group">
            <label for="event_number_guests">Number of Guests</label>
            <input type="text" class="form-control" id="event_number_guests" value="<%= @event.guest_limit %>" name="event_number_guests" required />
          </div>
          <div class="form-group">
            <label for="event_unlimited">No Guest Limit</label>
            <% if @event.unlimited_guests %>
              <input type="checkbox" id="event_unlimited" checked="<%= @event.unlimited_guests %>" name="event_unlimited" />
            <% else %>
              <input type="checkbox" id="event_unlimited" name="event_unlimited" />
            <% end %>
          </div>
          <div class="form-group">
            <label for="event_children">Children Welcome</label>
            <% if @event.allow_children %>
              <input type="checkbox" id="event_children" checked="checked" name="event_children" />
            <% else %>
              <input type="checkbox" id="event_children" name="event_children" />
            <% end %>
          </div>
          <div class="form-group">
            <label for="event_alcohol">Alcohol Welcome</label>
            <% if @event.alcohol_allowed %>
            <input type="checkbox" id="event_alcohol" checked="checked" name="event_alcohol"/>
            <% else %>
            <input type="checkbox" id="event_alcohol" name="event_alcohol"/>
            <% end %>
          </div>
          <div class="form-group">
            <label for="event_food">Food/Drink</label>
            <textarea type="text" id="event_food" name="event_food" class="form-control text_input" /><%= @event.food %></textarea>
          </div>
          <div class="form-group">
            <label for="event_description">Description of Event</label>
            <textarea type="text" id="event_description" class="form-control text_input" name="event_description"><%= @event.description %></textarea>
          </div>
          <br />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_event_submit" class="btn btn-default">
          <span>Submit</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="joinEventModal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Join Event</h4>
      </div>
      <br />
      <div class="modal-body">
        <form method="post" action="#" enctype="multipart/form-data" id="current_event_join" data-id="<%= @event.id %>">
          <div class="form-group">
            <label for="application_guests">Number of Guests</label>
            <input type="text" class="form-control" id="application_guests" name="application_guests" />
          </div>
          <div class="form-group">
            <label for="application_message">Message to Event Creator</label>
            <textarea type="text" id="application_message" class="form-control text_input" name="application_message" placeholder="Describe Guests"></textarea>
          </div>
          <br />
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" id="btn_application_submit" class="btn btn-default">
          <span>Submit</span>
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<% content_for :scripts do %>
  <script src="/js/flatpickr.min.js"></script>
  <script src="/js/events/show.js"></script>
  <script type="text/javascript">
      $("#event_date").flatpickr();
      $("#event_time").flatpickr();
  </script>
<% end %>
