<!DOCTYPE html>
<html>
  <head>
    <title>Salt</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/flatpickr.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="icon" href="/assets/saltfavicon.png">
    <%= yield :stylesheets %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-5 col-sm-8">
            <div class="header_img">
              <a href="/"><img src="/assets/whitesalticon.png" alt="salt"></a>
            </div>
            <div class="homePageHidden">
                <div class="hidden-xs visible-sm visible-md visible-lg">
                  <form method="get" action="#" enctype="multipart/form-data">
                    <div class="navSearchContainer">
                      <div class="navButtonContainer center-block">
                        <button type="button" class="btn" id="navSubmitSearch"><i class="fa fa-search navSearchIcon" aria-hidden="true"></i></button>
                      </div>
                      <div class="navCityContainer">
                        <div class="form-group">
                          <input type="text" class="form-control" id="navLocation" name="navLocation" placeholder="Where Do You Want To Search?" required />
                          <span id="error" class="hiddenError error">All Fields Need Values</span>
                        </div>
                      </div>
                      <div class="navDateFrom">
                        <div class="form-group">
                          <input type="text" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_starting_date" name="nav_starting_date" placeholder="From" required />
                        </div>
                      </div>
                      <div class="navArrowContainer">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                      </div>
                      <div class="navDateTo">
                        <div class="form-group">
                          <input type="text" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_ending_date" name="nav_ending_date" placeholder="To" required />
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="navMobileSearchIcon visible-xs hidden-sm">
                <a href="#" id="hiddenNavAnchor"><i class="fa fa-search" id="searchGlass" aria-hidden="true"></i></a>
              </div>
              <div class="visible-xs hidden-sm navBarMobile">
                  <div id="hiddenNav" class="hideSearch">
                      <form method="get" action="#" enctype="multipart/form-data">
                        <div class="navMobileSearchContainer">
                          <div class="navMobileCityContainer">
                            <div class="form-group">
                              <input type="text" class="form-control" id="nav_mobile_Location" name="navLocation" placeholder="Where?" required />
                            </div>
                          </div>
                          <div class="navMobileDateFrom">
                            <div class="form-group">
                              <input type="text" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_mobile_starting_date" name="nav_starting_date" placeholder="From" required />
                            </div>
                          </div>
                          <div class="navMobileDateTo">
                            <div class="form-group">
                              <input type="text" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_mobile_ending_date" name="nav_ending_date" placeholder="To" required />
                            </div>
                          </div>
                          <div class="navMobileButtonContainer center-block">
                            <button type="button" class="btn" id="navMobileSubmitSearch"><i class="fa fa-search navSearchIcon" aria-hidden="true"></i></button>
                          </div>
                        </div>
                        <div id="mobileError" class="hiddenError error">
                          All Fields Need Values
                        </div>
                      </form>
                    </div>
                </div>
              </div>
              <% if current_user %>
              <div class="col-xs-7 col-sm-4" id="profile-box" data-id=<%= current_user.id %>>
                <div class="header_links">
                  <nav class="nav_effect">
                <%= link_to "Logout", logout_path, method: 'delete' %>
              <% else %>
              <div class="col-xs-7 col-sm-4" id="profile-box" data-id="none">
                <div class="header_links">
                  <nav class="nav_effect">
                    <a href="#" data-toggle="modal" data-target="#sign_up">Sign Up</a>
                    <a href="#" data-toggle="modal" data-target="#login">Login</a>
              <% end %>
                  </nav>
                  <div class="header_profile" >
                    <div id="navDropdown" >
                    <% if current_user %>
                    <a href="#" alt="Profile Image">
                    <% else %>
                    <a href="#" alt="Profile Image" data-toggle="tooltip" data-placement="bottom" title="Must Be Logged In">
                    <% end %>
                       <% if current_user&.images&.first  %>
                        <%= image_tag(attachment_url(current_user.images.first, :file, :fill, 300, 300), :class => "img-circle header_profile_image")%>
                      <% else %>
                       <%= image_tag('http://unstats.un.org/unsd/trade/events/2015/abudhabi/img/no-pic.png', :class => "img-circle header_profile_image") %>
                      <% end %>
                    </a>
                    </div>
                    <div id="navDropdownMenu" class="menu" style="display:none">
                      <ul class="navDropdownMenuItems">
                        <a href="/current_user/dashboard"><li>Profile</li></a>
                        <a href="#"><li>Host</li></a>
                        <a href="#"><li>Inbox</li></a>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="margin-top"></div>
    <%= yield %>
    <footer>
        <img src="/assets/whitesalticon.png" alt="salt" class="footer_logo center-block" />
        <div class="footer_links container">
          <div class="row">
            <div class="col-xs-3 social_links text-center">
              <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
              <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
              <a href="https://www.snapchat.com/"><i class="fa fa-snapchat" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-3">
              <a href="#about.html"><h5 class="text-center">About Salt</h5></a>
            </div>
            <div class="col-xs-3">
              <a href="#policies.html"><h5 class="text-center">Policies</h5></a>
            </div>
            <div class="col-xs-3">
              <a href="#contact.html"><h5 class="text-center">Contact</h5></a>
            </div>
          </div>
        </div>
    </footer>
    <div class="modal fade" id="sign_up" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <br />
          <div class="modal-body">
            <form method="post" action="#" enctype="multipart/form-data">
              <div class="form-group">
                <label for="sign_up_firstname">First Name</label>
                <input type="text" class="form-control" id="sign_up_firstname" name="sign_up_firstname" required />
              </div>
              <div class="form-group">
                <label for="sign_up_lastname">Last Name</label>
                <input type="text" class="form-control" id="sign_up_lastname" name="sign_up_lastname" required />
              </div>
              <div class="form-group">
                <label for="sign_up_email">Email</label>
                <input type="text" class="form-control" id="sign_up_email" name="sign_up_email" required />
              </div>
              <div class="form-group">
                <label for="sign_up_birth">Date of Birth <span class="text-muted">(MM/DD/YYYY)</span></label>
                <input type="text" class="form-control" id="sign_up_birth" name="sign_up_birth" required />
              </div>
              <div class="form-group">
                <label for="sign_up_password">Password <span class="text-muted">(Minimum of 6 Characters)</span></label>
                <input type="password" class="form-control" id="sign_up_password" name="sign_up_password" required />
              </div>
              <div class="form-group">
                <label for="sign_up_password_confirm">Confirm Password</label>
                <input type="password" class="form-control" id="sign_up_password_confirm" name="sign_up_password_confirm" required />
              </div>
              <br />
          </div>
          <div class="modal-footer">
            <button id="btn_sign_up" type="button" class="btn btn-default">
              <span>Sign Up</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="login" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <br />
          <div class="modal-body">
            <form method="post" action="#" enctype="multipart/form-data">
              <div class="form-group">
                <label for="login_email">Email</label>
                <input type="text" class="form-control" id="login_email" name="login_email" required />
              </div>
              <div class="form-group">
                <label for="login_password">Password</label>
                <input type="password" class="form-control" id="login_password" name="login_password" required />
              </div>
              <br />
          </div>
          <div class="modal-footer">
            <span class="forgot-password">
              <%= link_to 'Forgot Password?', new_password_recovery_path %>
            </span>
            <button type="button" id="btn_login" class="btn btn-default">
              <span>Login</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/config.js"></script>
    <script src="/js/flatpickr.min.js"></script>
    <script src="/js/handleerrors.js"></script>
    <script src="/js/signUpLogin.js"></script>
    <script src="/js/header/search.js"></script>
    <%= yield :scripts %>
  </body>
</html>
