<!DOCTYPE html>
<html>
  <head>
    <title>Salt-Up</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" />
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/flatpickr.min.css" />
    <link rel="stylesheet" href="/css/header.css" />
    <link rel="stylesheet" href="/css/footer.css" />
    <link rel="icon" href="/assets/saltfavicon.png">
    <%= yield :stylesheets %>
  </head>

  <body>
    <header>
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-4 col-sm-8">
            <div class="header_img">
              <a href="/"><img src="/assets/whitesalticon.png" alt="salt"></a>
            </div>
            <div class="homePageHidden">
                <div class="hidden-xs visible-sm visible-md visible-lg">
                  <form method="get" action="#" enctype="multipart/form-data">
                    <div class="navSearchContainer">
                      <div class="navCityContainer">
                        <div class="form-group">
                          <input type="text" class="form-control" id="navLocation" name="navLocation" placeholder="Find An Event" required />
                          <span id="error" class="hiddenError error">All Fields Need Values</span>
                        </div>
                      </div>
                      <div class="navDateFrom">
                        <div class="form-group">
                          <input type="date" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_starting_date" name="nav_starting_date" placeholder="From" required />
                        </div>
                      </div>
                      <div class="navArrowContainer">
                        <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                      </div>
                      <div class="navDateTo">
                        <div class="form-group">
                          <input type="date" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_ending_date" name="nav_ending_date" placeholder="To" required />
                        </div>
                      </div>
                      <div class="navButtonContainer center-block">
                        <button type="button" class="btn" id="navSubmitSearch"><i class="fa fa-search navSearchIcon" aria-hidden="true"></i></button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="navMobileSearchIcon visible-xs hidden-sm">
                <a href="#" id="hiddenNavAnchor"><i class="fa fa-search" id="searchGlass" aria-hidden="true"></i></a>
              </div>
              <div class="visible-xs hidden-sm navBarMobile">
                  <div id="hiddenNav" class="hideSearch">
                      <form method="get" action="#" enctype="multipart/form-data">
                        <div class="navMobileSearchContainer">
                          <div class="navMobileCityContainer">
                            <div class="form-group">
                              <input type="text" class="form-control" id="nav_mobile_Location" name="navLocation" placeholder="Find An Event" required />
                            </div>
                          </div>
                          <div class="navMobileDateFrom">
                            <div class="form-group">
                              <input type="date" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_mobile_starting_date" name="nav_starting_date" placeholder="From" required />
                            </div>
                          </div>
                          <div class="navMobileDateTo">
                            <div class="form-group">
                              <input type="date" class="form-control flatpickr" data-date-format="m-d-Y" id="nav_mobile_ending_date" name="nav_ending_date" placeholder="To" required />
                            </div>
                          </div>
                          <div class="navMobileButtonContainer center-block">
                            <button type="button" class="btn" id="navMobileSubmitSearch"><i class="fa fa-search navSearchIcon" aria-hidden="true"></i></button>
                          </div>
                        </div>
                        <div id="mobileError" class="hiddenError error">
                          All Fields Need Values
                        </div>
                      </form>
                    </div>
                </div>
              </div>
              <% if current_user %>
              <div class="col-xs-8 col-sm-4" id="profile-box" data-id=<%= current_user.id %>>
                <div class="header_links">
                  <nav class="nav_effect">
                <%= link_to "Logout", logout_path, method: 'delete' %>
              <% else %>
              <div class="col-xs-8 col-sm-4" id="profile-box" data-id="none">
                <div class="header_links">
                  <nav class="nav_effect">
                    <a href="#" data-toggle="modal" data-target="#sign_up">Sign Up</a>
                    <a href="#" data-toggle="modal" data-target="#login">Login</a>
              <% end %>
                  </nav>
                  <div class="header_profile" >
                    <div id="navDropdown" >
                    <% if current_user %>
                    <a href="#" alt="Profile Image">
                    <% else %>
                    <a href="#" alt="Profile Image">
                    <% end %>
                       <% if current_user&.images&.first  %>
                        <%= image_tag(attachment_url(current_user.images.first, :file, :fill, 300, 300), :class => "img-circle header_profile_image")%>
                      <% elsif current_user && current_user&.images&.first == nil %>
                       <%= image_tag('/assets/no_pic.png', :class => "img-circle header_profile_image") %>
                       <% else %>
                       <%= image_tag('/assets/no_pic.png', :class => "img-circle header_profile_image", data: {toggle: "tooltip", placement: "bottom", title: "Must Be Logged In"}) %>
                      <% end %>
                    </a>
                    </div>
                    <% if current_user %>
                    <div id="navDropdownMenu" class="menu" style="display:none">
                      <ul class="navDropdownMenuItems">
                        <a href="/current_user/dashboard"><li>Dashboard</li></a>
                        <a href="#" data-toggle="modal" data-target="#eventModalHeader"><li>Host</li></a>
                        <a href="/current_user/dashboard/inbox"><li>Inbox</li></a>
                      </ul>
                    </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>
    <div class="margin-top"></div>
    <%= yield %>
    <footer>
        <img src="/assets/whitesalticon.png" alt="salt" class="footer_logo center-block" />
        <div class="footer_links container">
          <div class="row">
            <div class="col-xs-3 social_links text-center">
              <a href="https://www.facebook.com/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
              <a href="https://twitter.com/"><i class="fa fa-twitter" aria-hidden="true"></i></a>
              <a href="https://www.instagram.com/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
            </div>
            <div class="col-xs-3">
              <a href="#about.html"><h5 class="text-center">About</h5></a>
            </div>
            <div class="col-xs-3">
              <a href="#policies.html"><h5 class="text-center">Policies</h5></a>
            </div>
            <div class="col-xs-3">
              <a href="#contact.html"><h5 class="text-center">Contact</h5></a>
            </div>
          </div>
        </div>
    </footer>
    <div class="modal fade" id="sign_up" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Sign Up</h4>
          </div>
          <br />
          <div class="modal-body">
            <form method="post" action="#" enctype="multipart/form-data">
              <div class="form-group">
                <label for="sign_up_firstname">First Name</label>
                <input type="text" class="form-control" id="sign_up_firstname" name="sign_up_firstname" required />
              </div>
              <div class="form-group">
                <label for="sign_up_lastname">Last Name</label>
                <input type="text" class="form-control" id="sign_up_lastname" name="sign_up_lastname" required />
              </div>
              <div class="form-group">
                <label for="sign_up_email">Email</label>
                <input type="text" class="form-control" id="sign_up_email" name="sign_up_email" required />
              </div>
              <div class="form-group">
                <label for="sign_up_birth">Date of Birth <span class="text-muted">(MM/DD/YYYY)</span></label>
                <input type="date" class="form-control" id="sign_up_birth" name="sign_up_birth" required />
              </div>
              <div class="form-group">
                <label for="sign_up_password">Password <span class="text-muted">(Minimum of 6 Characters)</span></label>
                <input type="password" class="form-control" id="sign_up_password" name="sign_up_password" required />
              </div>
              <div class="form-group">
                <label for="sign_up_password_confirm">Confirm Password</label>
                <input type="password" class="form-control" id="sign_up_password_confirm" name="sign_up_password_confirm" required />
              </div>
              <br />
          </div>
          <div class="modal-footer">
            <button id="btn_sign_up" type="button" class="btn btn-default">
              <span>Sign Up</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="login" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Login</h4>
          </div>
          <br />
          <div class="modal-body">
            <form method="post" action="#" enctype="multipart/form-data">
              <div class="form-group">
                <label for="login_email">Email</label>
                <input type="text" class="form-control" id="login_email" name="login_email" required />
              </div>
              <div class="form-group">
                <label for="login_password">Password</label>
                <input type="password" class="form-control" id="login_password" name="login_password" required />
              </div>
              <br />
          </div>
          <div class="modal-footer">
            <span class="forgot-password">
              <%= link_to 'Forgot Password?', new_password_recovery_path %>
            </span>
            <button type="button" id="btn_login" class="btn btn-default">
              <span>Login</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="eventModalHeader" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Event</h4>
          </div>

          <div class="modal-body">
            <form method="post" action="#" enctype="multipart/form-data">
              <div class="form-group">
                <label for="title">Event Title</label>
                <input type="text" class="form-control" id="titleHeader" name="title"  />
              </div>
              <div class="form-group">
                <label for="images_files">Event Image</label>
                <input type="file" class="form-control" name="images_files" id="images_filesHeader" multiple accept="image/*" />
              </div>
              <div class="form-group">
                <label for="date">Event Date</label>
                <input type="date" class="form-control flatpickr" id="dateHeader" name="date" data-date-format="d-m-Y" />
              </div>
              <div class="form-group">
                <label for="time">Event Time</label>
                <input type="text" data-enable-time="true" data-no-calendar="true" value="17:00" class="form-control flatpickr" id="timeHeader" name="time"  />
              </div>
              <div class="form-group">
                <label for="guest_limit">Maximum Guest Limit</label>
                <input type="text" class="form-control" id="guest_limitHeader" name="guest_limit"  />
              </div>
              <div class="form-group">
                <label for="unlimited_guests">No Guest Limit</label>
                <input type="checkbox" id="unlimited_guestsHeader" name="unlimited_guests" />
              </div>
              <div class="form-group">
                <label for="allow_children">Children Welcome</label>
                <input type="checkbox" id="allow_childrenHeader" name="allow_children" />
              </div>
              <div class="form-group">
                <label for="alcohol_allowed">Alcohol Welcome</label>
                <input type="checkbox" id="alcohol_allowedHeader" name="alcohol_allowed" />
              </div><div class="form-group">
                <label for="filter_guests">Guests Need To Be Approved <span class="text-muted">(Cannot Be Changed Once Created)</span></label>
                <input type="checkbox" id="filter_guestsHeader" name="filter_guests" />
              </div>
              <div class="form-group">
                <label for="food">Food/Drink</label>
                <textarea type="text" id="foodHeader" name="food" class="form-control text_input" /></textarea>
              </div>
              <div class="form-group">
                <label for="description">Description Of Event</label>
                <textarea type="text" id="descriptionHeader" class="form-control text_input" name="description"></textarea>
              </div>
              <br />
              <h4>Event Address</h4>
              <hr />
              <div class="form-group">
                <label for="user_address">Event Will Be Hosted At Your Address</label>
                <input type="checkbox" id="user_addressHeader" name="user_address" />
              </div>
              <div class="form-group">
                <label for="street">Street</label>
                <input type="text" class="form-control" id="streetEventHeader" name="street"  />
              </div>
              <div class="form-group">
                <label for="city">City</label>
                <input type="text" class="form-control" id="cityEventHeader" name="city"  />
              </div>
              <div class="form-group">
                <label for="state" >State</label>
                <select id="stateEventHeader" name="state" class="form-control">
                  <option disabled selected value> -- select a state -- </option>
                  <option value="Alabama">Alabama</option>
                  <option value="Alaska">Alaska</option>
                  <option value="Arizona">Arizona</option>
                  <option value="Arkansas">Arkansas</option>
                  <option value="California">California</option>
                  <option value="Colorado">Colorado</option>
                  <option value="Connecticut">Connecticut</option>
                  <option value="Delaware">Delaware</option>
                  <option value="District Of Columbia">District Of Columbia</option>
                  <option value="Florida">Florida</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Hawaii">Hawaii</option>
                  <option value="Idaho">Idaho</option>
                  <option value="Illinois">Illinois</option>
                  <option value="Indiana">Indiana</option>
                  <option value="Iowa">Iowa</option>
                  <option value="Kansas">Kansas</option>
                  <option value="Kentucky">Kentucky</option>
                  <option value="Louisiana">Louisiana</option>
                  <option value="Maine">Maine</option>
                  <option value="Maryland">Maryland</option>
                  <option value="Massachusetts">Massachusetts</option>
                  <option value="Michigan">Michigan</option>
                  <option value="Minnesota">Minnesota</option>
                  <option value="Mississippi">Mississippi</option>
                  <option value="Missouri">Missouri</option>
                  <option value="Montana">Montana</option>
                  <option value="Nebraska">Nebraska</option>
                  <option value="Nevada">Nevada</option>
                  <option value="New Hampshire">New Hampshire</option>
                  <option value="New Jersey">New Jersey</option>
                  <option value="New Mexico">New Mexico</option>
                  <option value="New York">New York</option>
                  <option value="North Carolina">North Carolina</option>
                  <option value="North Dakota">North Dakota</option>
                  <option value="Ohio">Ohio</option>
                  <option value="Oklahoma">Oklahoma</option>
                  <option value="Oregon">Oregon</option>
                  <option value="Pennsylvania">Pennsylvania</option>
                  <option value="Rhode Island">Rhode Island</option>
                  <option value="South Carolina">South Carolina</option>
                  <option value="South Dakota">South Dakota</option>
                  <option value="Tennessee">Tennessee</option>
                  <option value="Texas">Texas</option>
                  <option value="Utah">Utah</option>
                  <option value="Vermont">Vermont</option>
                  <option value="Virginia">Virginia</option>
                  <option value="Washington">Washington</option>
                  <option value="West Virginia">West Virginia</option>
                  <option value="Wisconsin">Wisconsin</option>
                  <option value="Wyoming">Wyoming</option>
                </select>
              </div>
              <div class="form-group">
                <label for="zip">Zip Code</label>
                <input type="text" class="form-control" id="zipEventHeader" name="zip"  />
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" id="btn_event_submitHeader" class="btn btn-default">
              <span>Submit</span>
            </button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-57c73178fe93fb3a"></script>
    <script type="text/javascript" src="/js/fetch.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/config.js"></script>
    <script src="/js/configImages.js"></script>
    <script src="/js/flatpickr.min.js"></script>
    <script src="/js/handleerrors.js"></script>
    <script src="/js/signUpLogin.js"></script>
    <script src="/js/header/search.js"></script>
    <%= yield :scripts %>
  </body>
</html>
